# Auto detect text files and perform LF normalization:
# (equivalent to 'git config --global core.autocrlf true' set locally)
* text=auto

# Files that will always use specific line-endings:
*.bat    text eol=crlf
*.cmd    text eol=crlf
*.sh     text eol=lf
#*.sln    text eol=crlf
#*.csproj text eol=crlf

# Files that are truly binary and should never be normalized:
*.png    binary
*.jpg    binary
*.bmp    binary
*.ico    binary
*.exe    binary
*.dll    binary
